body{
    background-image: url(https://images.pexels.com/photos/3350123/pexels-photo-3350123.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
   background-size: cover;
   
  }
  
  .container{
    border: 2px solid white;
    background-color: white;
    box-shadow: 10px 10px 54px -5px white;
    height: 300px;
    width: 500px;
   margin-left: 450px;
   margin-top: 200px;
   border-radius: 15px;
 
   text-align: center;
  }
  .question{
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
  }
  .options{
    margin-top: 50px;
  }
  .btn{
    background-color: blueviolet;
    width:100px;
    height:30px;
  }
  #reset-button{
    background-color: bisque;
    font-weight: bolder;
    width:150px;
    height:30px;
   position: absolute;
   margin-left: 1200px;
  }
  a{
    text-decoration: none;
  }
  .home-btn{
    background-color: bisque;
    height: 30px;
    font-weight: bolder;
  }
  #score-history{
    display: none;
  }
  .reset{
    display: none;
  }
  .restart-btn{
    background-color: blueviolet;
    width:100px;
    height:30px;
    color: wheat;
    font-weight: 900;
    border-radius: 5px;
  }
  .restart-btn:hover{
    background-color: rgb(105, 62, 146);
  }
  h2{
    margin-top: 100px;
  }